streamlit
earthengine-api
geemap
folium
geopandas
pandas
plotly
openpyxl
shapely
requests
openpyxl
gspread

# AI Dependencies
transformers
torch
torchvision
Pillow
numpy
google-auth
streamlit-folium

